* {
    font-family: Helvetica;
}

.banner {
    background-image: url('../img/pattern.jpeg');
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
}

h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

a {
    color: blue;
}